/* @import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap'); */
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima-Nova-Font/proxima-nova-font.otf);
}
@font-face {
    font-family: Franc;
    src: url(../fonts/FrancoisOne.ttf);
}



body{
    /* background-color: rgb(246, 208, 214); */
    height: 70rem;
}
p{
    font-size: 18px;
    line-height: 27px;
}
p,a,li{
    font-family: ProximaNova;
}
h1,h2,h3{
    font-family: Franc;
}
button{
    border-radius: 0 !important;
}
.mymask{
    opacity: 0 !important;
    transition: 0.126s;
}
button{
    transition: 0.126s !important;
}



/* MAIN BG */
.main-bg{
    background: url('../images/main-bg.png') center center/cover no-repeat;
    height: 100vh;
}

/* NAVBAR SECTION */
.navbar-brand{
    width: 12.2%;
}
.main-logo{
    width: 137px;
}
.navbar{
    transition: 0.23s;
    padding: 25px 0px 17px 0px;
}
.scrolled{
    background-color: #2B2B2B;
    padding: 5px 0px;
}
.banner-content{
    height: 100%;
}
.banner-logo{
    width: 400px;
}
.banner-content h1{
    font-weight: 400;
    font-size: 30px;
    font-family: ProximaNova;
    font-weight: 400;
}
.banner-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navbar .nav-link{
    color: white;
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 18px;
    transition: 0.2s;
}
.navbar .nav-link:hover{
    color: #d1bc9b;
    
}
.main-bg{
    position: relative;
}
.fa-chevron-down{
    position: absolute;
    bottom: 1.7rem;
    color: white;
    font-size: 47px;
    transform: translateX(-50%);
}
.navbar a.nav-link.active {
    color: #d1bc9b !important;
}



/* SECTION-1 */
.section-1{
    padding-top: 113px;
    padding-bottom: 113px;
}
.section-1 h2{
    color: #d1bc9b;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}
/* .myhero-11{
    background: url(../images/after-hero1.png) center center/cover no-repeat;
}
.myhero-22{
    background: url(../images/after-hero2.png) center center/cover no-repeat;
} */

.section-1 h2{
    margin-bottom: 39px;
}


.myhero-1{
    width: 550px;
    height: 235px;
    overflow: hidden;
    position: relative;
}
.myhero-1 img{
    transform: translateY(-24%);
}
.mymask.mask1{
    position: absolute;
    top: 0;
    width: calc(100%);
}
.myhero-1:hover .mask1{
    opacity: 1 !important;
}


.myhero-2{
    width: 550px;
    height: 235px;
    overflow: hidden;
    position: relative;
}
.myhero-2 img{
    transform: translateY(-17%);
}
.mymask.mask2{
    position: absolute;
    top: 0;
    width: calc(100%);
}
.myhero-2:hover .mask2{
    opacity: 1 !important;
}





/* TT-SECTION */
.tt-section{
    padding-top: 80px;
    padding-bottom: 65px;
    background: #F1F0EB;
}
.tt-section h2{
    color: #2B2B2B;
    line-height: 40px;
    margin-bottom: 18px;
}
.tt-section p{
    background-color: #2B2B2B;
    color: white;
    display: inline-block;
    padding: 6px 47px;
    font-size: 20px;
}
.tt-section span{
    color: #D1BC9B;
}


/* TAB SECTION */
.tab-section .nav-link{
    color: #d1bc9b;
    font-family: 'Francois One', sans-serif;
    font-weight: 500;
    line-height: 20px;
    background-color: #F1F0EB;
    border-radius: 0px;
    border-right: 5px solid white;
    padding: 20px 0px 39px 0px;
    position: relative;
}
.tab-section .nav-link.active{
    color: #2b2b2b;
    border-color: white;
    background-color: white;
}
.tab-one{
    padding-left: 84px !important;
}
.tab-last{
    padding-right: 84px !important;
}
.tab-section .nav-link:hover{
    border-color: white !important;
}
.tab-section .nav-item{
    border: none;
}
.tab-content img{
    width: 100%;
    transform: translateY(-30%);
}
.tab-pane{
    margin: 0 !important;
    padding: 0 !important;
    height: 530px !important;
    overflow: hidden;
}
/* ! TWO HOVER FIXES */
.tab-section .nav-item:hover{
    z-index: 12;
}
.tab-section .nav-link.active{
    z-index: 12;
}
.tab-section .nav-link{
    position: relative;
}
.tab-section .nav-link:hover{
    border-color: transparent !important;
    border-right: 5px solid white !important;
}
.tab-last:hover{
    border-right: 0px !important;
}
.tab-section .nav-link.active::after{
    content: '****';
    width: calc(100% + 10.8px);
    transform: translateX(-5.3px);
    background-color: white;
    position: absolute;
    bottom: -26px;
    left: 0;
    z-index: 99;
    padding-bottom: 37px;
    display: block;
}
.tab-one.active::after{
    padding-left: 84px;
}
.tab-last.active::after{
    padding-right: 84px;
}
a.nav-link.tab-last.border-end-0 {
    border-right: none !important;
}


/* SLIDER SECTION */
.slider-section{
    padding-top: 28px;
    padding-bottom: 48px;
}
.slider-section .myrow>div{
    margin: 0px 5px;
}
.sliderimg{
    width: 216px;
    height: 200px;
}
.sliderimg1{
    background: url(../images/slider1-min.png) 63% center/189% no-repeat;
}
.sliderimg2{
    background: url(../images/slider2-min.jpg) 63% center/189% no-repeat;
}
.sliderimg3{
    background: url(../images/slider3-min.jpg) 63% center/189% no-repeat;
}
.sliderimg4{
    background: url(../images/slider4-min.jpg) 63% center/189% no-repeat;
}
.sliderimg5{
    background: url(../images/slider5-min.jpg) 63% center/189% no-repeat;
}
.sliderimg1{
    position: relative;
}
.fa-chevron-left{
    color: white;
    font-size: 47px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sliderimg5{
    position: relative;
}
.fa-chevron-right{
    color: white;
    font-size: 47px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* SECTION-2 */
.section-2{
    padding-top: 3px;
    padding-bottom: 63px;
}
button.mylight{
    background-color: #D1BC9B;
    color: white;
}
button.mydark{
    background-color: #2B2B2B;
    color: white;
}
.section-2 .left li{
    font-size: 17px;
    line-height: 26px;
    padding: 0px 12px 20px 5px;
}
.section-2 .firstli{
    margin-bottom: 20px;
}
.section-2 .right h3{
    font-size: 26px;
}
.section-2 .right h2{
    font-size: 28px;
}
.section-2 .right-tt{
    margin-bottom: 45px;
}
.section-2 .content-box{
    background-color: #FFFAFA;
    padding: 80px 16px;
}
.section-2 .content-box p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-2 .content-box button{
    font-size: 16px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-family: Arial, Helvetica, sans-serif;
}
.section-2 .rest-buttons button{
    font-size: 18px !important;
}
.rest-buttons .btn1{
    margin-right: 11px;
}
.rest-buttons{
    margin-top: 18px;
    margin-bottom: 11px;
}
.section-2 .mybt-text{
    font-size: 20px;
    margin-top: 14px;
}




/* WELLNESS SECTION */
.wellness-content{
    padding-top: 72px;
    padding-bottom: 60px;
    background: #E8DECE;
}
.wellness-content h2{
    color: #2b2b2b;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.wellness-content p{
    margin-bottom: 28px;
}
.wellness-gallery .gal-cover{
    margin: 0px 5px;
    width: 80px;
    height: 143px;
    overflow: hidden;
}
.wellness-gallery img{
    height: 100%;
}
.wellness-img{
    background: url(../images/wellness-img.png) center center/cover no-repeat;
    min-height: 710px;
    height: 50vw;
}
.wellness-img:hover .mask3{
    opacity: 1 !important;
    transition: 0.35s;
}
.wellness-gallery .galimg1 img{
    transform: translateX(-34%);
}
.wellness-gallery .galimg2 img{
    transform: translateX(-38%);
}
.wellness-gallery .galimg3 img{
    transform: translateX(-37%);
}




/* GARTEN SECTION */
.garten-section{
    padding-top: 90px;
    padding-bottom: 135px;
    background-color: #F1F0EB;
}
.garten-section h2{
    color: #2b2b2b;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 21px;

}
.gartenimg-cover{
    /* background-color: blue; */
    margin: 0px 5px;
    width: 102px;
    height: 182px;
    overflow: hidden;
}
.gartenimg0{
    width: 98.5%;
    height: 245px;
    overflow: hidden;
    margin: 0px 5px 17px 5px;
}
.garten-gallery img{
    height: 100%;
}
.gartenimg0 img{
    height: auto;
    width: 100%;
}


.gartenimg0{
    position: relative;
}
.mymask.mask4{
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
}
.gartenimg0:hover .mask4{
    opacity: 1 !important;
}

.gartenimg1{
    position: relative;
}
.mymask.mask5{
    position: absolute;
    top: 0;
}
.gartenimg1:hover .mask5{
    opacity: 1 !important;
}

.gartenimg2{
    position: relative;
}
.mymask.mask6{
    position: absolute;
    top: 0;
}
.gartenimg2:hover .mask6{
    opacity: 1 !important;
}

.gartenimg3{
    position: relative;
}
.mymask.mask7{
    position: absolute;
    top: 0;
}
.gartenimg3:hover .mask7{
    opacity: 1 !important;
}

.gartenimg4{
    position: relative;
}
.mymask.mask8{
    position: absolute;
    top: 0;
}
.gartenimg4:hover .mask8{
    opacity: 1 !important;
}

.gartenimg5{
    position: relative;
}
.mymask.mask9{
    position: absolute;
    top: 0;
}
.gartenimg5:hover .mask9{
    opacity: 1 !important;
}





/* REGION SECTION */
.region-section{
    padding-top: 120px;
    padding-bottom: 39px;
}
.boxes{
    width: 100%;
}
.boxes .box{
    width: 20%;
    height: 200px;
    background-color: #D1BC9B;
    margin: 0px 10px;
}
.region-section h2{
    color: #D1BC9B;
    line-height: 40px;
    margin-bottom: 20px;
}
.region-section p{
    margin-bottom: 59px;
}


/* REGION BOXES */
.regionboxes img{
    filter: invert(100%);
}
.regionboxes .item{
    width: 200px;
    height: 200px;
    background-color: #D1BC9B;
    margin: 9px 7px;
    position: relative;
}
.regionboxes img{
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    transform: translate(-50%,-50%);
 
}
.regionboxes .item-inner p{
    color: white;
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    margin-top: 10px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
}
img.reg1{
    width: 70px !important;
}
img.reg2{
    width: 60px !important;
}
img.reg3{
    width: 90px !important;
}
img.reg4{
    width: 80px !important;
}
img.reg5{
    width: 80px !important;
}


/* REGION SLIDER */
.region-slider img{
    width: 100%;
}

.regbox1{
    position: relative;
}
.mymask.mask10{
    position: absolute;
    top: 0;
}
.regbox1:hover .mask10{
    opacity: 1 !important;
}

.regbox2{
    position: relative;
}
.mymask.mask11{
    position: absolute;
    top: 0;
}
.regbox2:hover .mask11{
    opacity: 1 !important;
}

.regbox3{
    position: relative;
}
.mymask.mask12{
    position: absolute;
    top: 0;
}
.regbox3:hover .mask12{
    opacity: 1 !important;
}

.regbox4{
    position: relative;
}
.mymask.mask13{
    position: absolute;
    top: 0;
}
.regbox4:hover .mask13{
    opacity: 1 !important;
}


/* TIPS SECTION */
.tips-section{
    padding-top: 80px;
    padding-bottom: 50px;
}
.tips-tt{
    color: #d1bc9b;
    font-size: 24px;
    margin-bottom: 40px;
}
h2.num{
    font-size: 70px !important;
}
.tips-section h3{
    font-size: 24px;
    margin-bottom: 14px;
}


/* WIR SECTION */
.wir-section .img{
    background: url(../images/wir-bg.jpg) center 10%/cover no-repeat;
    height: 14.7rem;
}
.wir-section{
    background-color: #F1F0EB;
    padding-top: 105px;
    padding-bottom: 97px;

}
.wir-section h2 span{
    color: #d1bc9b;
}
.wir-section h2{
    line-height: 40px;
    margin-bottom: 23px;
}
/* .wir-content{
    padding: 0px 70px 0px 100px;
} */
.wir-content p{
    margin-bottom: 0;
}


/* NEWS SECTION */
.news-section{
    padding-top: 110px;
    padding-bottom: 120px;
}
.news{
    background-color: #D1BC9B;
    margin-bottom: 20px;
}
.news h2,.news h3, .news p{
    color: white;
}
.news h3{
    font-size: 24px;
}
.news-section h2{
    margin-bottom: 0;
}
.news-content p{
    margin-bottom: 0;
}


/* FOOTER SECTION */
.footer-section{
    padding: 6.2rem 0px;
    background-color: #2B2B2B;
    color: white;
}
.footer-section p{
    font-weight: 100;
    margin-bottom: 0;
    font-size: 16px;
}
.footer-section a{
    text-decoration: none;
    font-weight: 100;
    color: white;
    font-size: 16px;
}
.footer-logo{
    width: 27vh;
}
.footer-tt{
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: 100;
}
.footer-section a{
    transition: 0.2s;
}
.footer-section a:hover{
    color: #d1bc9b;
}



/* SLIDER SECTION */
.slider-section .item{
    position: relative;
}
.slider-section .owl-nav button{
    position: absolute;
    top: calc(50% - 22px);
    transform: translateY(-50%);
    width: 40px;
    height: 30px;
    background: white !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 60%);
}
.slider-section .owl-nav button.owl-prev{
    left: -21px;
}
.slider-section .owl-nav button.owl-next{
    right: -21px;
}
.slider-section .owl-dots{
    text-align: center;
    margin-top: 9px;
}
.slider-section .owl-dots button{
    width: 11px;
    height: 11px;
    background: orange!important;
    margin:0px 5px;
    border-radius: 100%;
}
.slider-section .owl-dots button.active{
    background: rgb(186, 125, 10)!important;
}
.slider-section .owl-nav span{
    font-size: 35px;
    line-height: 21px;
}


/* MY REGION SLIDER */
.region-slider .item{
    position: relative;
    height: 173px;
}
.region-slider .owl-nav button{
    position: absolute;
    top: calc(50% - 11px);
    transform: translateY(-50%);
    width: 40px;
    height: 30px;
    background: white !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 60%);
}
.region-slider .owl-nav button.owl-prev{
    left: -8px;
}
.region-slider .owl-nav button.owl-next{
    right: -8px;
}
.region-slider .owl-nav span{
    font-size: 35px;
    line-height: 21px;
}
.regiongal3{
    transform: translateY(-122px);
}
.regiongal4{
    transform: translateY(-87px);
}





@media screen and (max-width:960px) {
.nav-tabs{
    display: none;
}
.tab-content>.tab-pane{
    display: block;
    height: 48.5vw !important;
    background-color: #F1F0EB;
}
.banner-logo{
    width: 300px;
}
.tab-pane:last-child{
    height: 50vw !important;
}
.section-2 .rest-buttons .btn1,.section-2 .rest-buttons .btn2,.btn3{
    font-size: 15px !important;
}


}










@media(max-width:768px){
.main-bg .mask{
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.owl-nav button{
    width:20px;
    height: 30px;
}
.owl-nav button.owl-prev{
    left: -10px;
}
.owl-nav button.owl-next{
    right: -10px;
}
.regionboxes .item{
    width: 98px;
    height: 107px;
    margin: 10px 5.5px;
}
.region-section.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}
.region-section .container{
    padding: 0 !important;
}
.regionboxes .item-inner p{
    font-size: 12px;
    bottom: 8px;
}

img.reg1{
    width: 40px !important;
}
img.reg2{
    width: 35px !important;
}
img.reg3{
    width: 50px !important;
}
img.reg4{
    width: 45px !important;
}
img.reg5{
    width: 45px !important;
}
}


@media(max-width:500px){
.gartenimg-cover{
    width: 57px;
    height: 102px;
}
.gartenimg0{
    height: 100px;
}
.wellness-img {
    min-height: 500px;
}

}


/* custom css */
button.mylight:hover{
    background-color: #cba76d;
    color: white;
}
button.mydark:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}



/* SWIPER IMAGE POPUP SLIDER */
.swiper {
    width: 100%;
    height: 100%;
    /* height: 400px; */
    /* background: rgba(0, 0, 255, 0.2); */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
/* .swiper-inner{ */
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
/* } */
/* .swiper-wrapper{
    background: green;
    width: 200px;
    height: 200px;
} */
.swiper-scrollbar{
    display: none;
}
/* .swiper-android .swiper-slide, .swiper-wrapper { */
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    transform:translate3d(-50%,-50%,0px) !important; */
/* } */

/* .swiper-slide.ss-1{
    background: url(../images/after-hero1.png) center center/667px 500px no-repeat;
}
.swiper-slide.ss-2{
    background: url(../images/after-hero2.png) center center/751px 500px no-repeat;
} */

.black-main{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9991;
    display: none;
}
.swiper-button-prev {
    color: white; 
}

.swiper-button-next {
    color: white; 
}
.mybtnclose{
    right: 0;
    z-index: 9992;
}

.ss-parent{
    position: relative;
}
.ss{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.custom-btn .fa-angle-right{
    /* background: blue; */
    color: white;
    font-size: 2.5rem;
    /* width: 50px; */
    /* height: 50px; */
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.custom-btn .fa-angle-left{
    /* background: blue; */
    color: white;
    font-size: 2.5rem;
    /* width: 50px; */
    /* height: 50px; */
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.custom-btn{
    z-index: 9996;
}
.slider-image-css{
    width: 764px;
}




/* POINTERS */

.image-cover, .wellness-img{
    cursor: pointer;
}
.regbox1, .regbox2, .regbox3, .regbox4{
    cursor: pointer;
}
.gal-cover{
    position: relative;
    z-index: 1;
}
