@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #f1fbff;
}



/* SECTION PADDINGS */
.about-section{
    padding-top: 180px;
    padding-bottom: 130px;
}
.services-section{
    padding-top: 80px;
    padding-bottom: 130px;
}
.projects-section{
    padding-top: 70px;
    padding-bottom: 130px;
}
.teams-section{
    padding-top: 70px;
    padding-bottom: 115px;
}
.contact-section{
    padding-top: 85px;
    padding-bottom: 80px;
}








/* NAVBAR */
.navbar-brand{
    font-size: 1.6rem;
    letter-spacing: 2px;
}
.mynav .nav-link{
    font-size: 0.94rem;
}
.navbar-collapse{
    text-align: center;
}














/* CAROUSEL */
.carousel-item{
    height: 100vh;
    position: relative;
}
.carousel img{
    height: 100vh;
    /* width: 100%; */
    object-fit: cover;
    object-position: 42% 63%;
}
.carousel-item::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.carousel-caption{
    z-index: 5;
    top: 52%;
    transform: translateY(-50%);
    height: fit-content;
    text-align: center;
}
.carousel h3{
    font-size: 45px;
}
.carousel p{
    line-height: 1.6;
    font-size: 18px;
}
















/* SERVICES SECTION */
.bi{
    color: white;
    font-size: 50px;
}
.services-section .card{
    padding: 0px 20px 10px 20px;
}
.services-header{
    padding-bottom: 44px;
}



















/* PROJECTS SECTION */
.projects-section .card img{
    width: 100%;
}
.card p{
    font-size: 14px;
}
.projects-section h3{
    padding-top: 10px;
}
.projects-section .card{
    padding-top: 7px;
}
.projects-header{
    padding-bottom: 44px;
}
.projects-section .card{
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}













/* TEAMS SECTION */
.teams-section img{
    width: 45%;
    border-radius: 50%;
}
.teams-header{
    padding-bottom: 44px;
}
.socials .bi{
    font-size: 20px;
    margin: 0px 4px;
}
.teams-section h3{
    padding-top: 10px;
}
.teams-section .card{
    padding-top: 8px;
}







/* CONTACT SECTION */
.contact-header{
    padding-bottom: 44px;
}













/* MEDIA QUERY */
@media only screen and (max-width:991px){







}
@media only screen and (max-width: 767px){
.carousel h3{
    font-size: 30px;
}
.carousel p{
    font-size: 14px;
}
.carousel-item{
    height: 530px;
}
.carousel img{
    height: 100%;
}
.about-section{
    padding-top: 130px;
    padding-bottom: 50px;
}
.services-section{
    padding-top: 110px;
    padding-bottom: 50px;
}
.projects-section{
    padding-top: 70px;
    padding-bottom: 50px;
}
.teams-section{
    padding-top: 70px;
    padding-bottom: 30px;
}
.contact-section{
    padding-top: 85px;
    padding-bottom: 50px;
}
.about-section,.services-header,.teams-header,.projects-header,.contact-header p{
    font-size: 14px;
}
.services-header,.teams-header,.projects-header,.contact-header{
    padding-bottom: 25px;
}

}
